.elementor-42 .elementor-element.elementor-element-3b80560e > .elementor-container{min-height:600px;}.elementor-42 .elementor-element.elementor-element-3b80560e{margin-top:0px;margin-bottom:0px;padding:15px 15px 15px 15px;}.elementor-42 .elementor-element.elementor-element-14467bff .elementor-heading-title{color:#FFFFFF;}.elementor-42 .elementor-element.elementor-element-14467bff > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-49fa7af6{color:#FFFFFF;font-weight:400;}.elementor-42 .elementor-element.elementor-element-2a91148f > .elementor-container{min-height:600px;}.elementor-42 .elementor-element.elementor-element-2a91148f{margin-top:0px;margin-bottom:0px;padding:15px 15px 15px 15px;}.elementor-42 .elementor-element.elementor-element-3121f90a .elementor-heading-title{color:#FFFFFF;}.elementor-42 .elementor-element.elementor-element-3121f90a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-23634f94{color:#FFFFFF;font-weight:400;}.elementor-42 .elementor-element.elementor-element-2331bafe > .elementor-container{min-height:600px;}.elementor-42 .elementor-element.elementor-element-2331bafe{margin-top:0px;margin-bottom:0px;padding:15px 15px 15px 15px;}.elementor-42 .elementor-element.elementor-element-616d8001 .elementor-heading-title{color:#FFFFFF;}.elementor-42 .elementor-element.elementor-element-616d8001 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-352b48fb{color:#FFFFFF;font-weight:400;}:root{--page-title-display:none;}@media(max-width:767px){.elementor-42 .elementor-element.elementor-element-3b80560e > .elementor-container{min-height:400px;}.elementor-42 .elementor-element.elementor-element-2a91148f > .elementor-container{min-height:300px;}.elementor-42 .elementor-element.elementor-element-2a91148f{margin-top:060px;margin-bottom:60px;padding:0px 015px 0px 015px;}}/* Start custom CSS for image, class: .elementor-element-7d62b59 */.elementor-42 .elementor-element.elementor-element-7d62b59 img {
    width: 400px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-3b80560e */.elementor-42 .elementor-element.elementor-element-3b80560e > div {
    display: flex;
}

.elementor-42 .elementor-element.elementor-element-3b80560e > div > div {
    height: 100%;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-1146998 */.elementor-42 .elementor-element.elementor-element-1146998 img {
    width: 400px;
    height: 400px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2a91148f */.elementor-42 .elementor-element.elementor-element-2a91148f > div {
    display: flex;
}

.elementor-42 .elementor-element.elementor-element-2a91148f > div > div {
    height: 100%;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-579c9a6 */.elementor-42 .elementor-element.elementor-element-579c9a6 img {
    width: 450px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2331bafe */.elementor-42 .elementor-element.elementor-element-2331bafe > div {
    display: flex;
}

.elementor-42 .elementor-element.elementor-element-2331bafe > div > div {
    height: 100%;
}/* End custom CSS */